<!-- =========================================================================================
    File Name: Exchange.vue
    Description: Exchange Dashboard
========================================================================================== -->
<template>
    <div class="row sm-gutters">
        <!-- BUY ORDERS -->
        <div class="col-md-3">
            <order-book />
        </div> 
        <!-- CHART -->
        <div class="col-md-6">
           <ticker-chart />
        </div>

        <!-- SELL ORDERS -->
        <div class="col-md-3">
            <order-book />
        </div>

    </div>
</template>
<script>

import OrderBook from '~/components/exchange/OrderBook'
import TickerChart from '~/components/exchange/TickerChart'

export default {
    name: 'Exchange',
    layout: 'ExchangeLayout',
    components: {
        OrderBook,
        TickerChart
    }

}
</script>